@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-5%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes transitionIn {
    from {
        opacity: 0;
        -webkit-transform: translateY(-5%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #eee;
    line-height: 1.6;
    height: 100vh;
    color: black;
    overflow: hidden;
    animation: transitionIn 0.9s;
}

.simplebar-scrollbar::before {
    background-color: red;
}

.page-container {
    width: 100%;
    height: 100%;
}

.nav-bar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
}

.nav-bar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    width: 100%;
}

.nav-bar ul li {
    margin: 0em 1em;
    padding: 1em;
}

.nav-bar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 900;
    transition-property: opacity;
    transition-duration: 400ms;
}

.nav-bar ul li a:hover {
    opacity: 0.5;
}

#home,
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

#home h1,
#about h1 {
    font-size: 4rem;
    margin-bottom: 0.2em;
}

#home p,
#about p {
    font-size: 1.5rem;
}

/* APOD Section */

#APOD {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apod-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.apod-title {
    font-size: 1.5rem;
    margin-bottom: 1em;
    text-align: center;
}

.post-container {
    display: flex;
    margin: 0em 5em;
    height: 55%;
    width: 80vw;
    padding: 1em;
    justify-content: center;
}

.post-description {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 55%;
}

.title {
    font-size: 1.75rem;
    font-weight: 900;
}

.author-date {
    opacity: 0.4;
    margin-bottom: 1em;
}

.post-text {
    font-size: 0.95rem;
    font-weight: 500;
    overflow: auto;
    width: 100%;
    padding-right: 1.5em;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin-right: 2em;
    background-color: #e8e8e8;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
        0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
        0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}

#scroll-div {
    overflow: auto;
}

.simplebar-scrollbar::before {
    background-color: silver;
}

/* NEOWS Section */
#neows {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.neows-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80vw;
}

.neows-title {
    font-size: 1.5rem;
    margin-bottom: 1em;
    text-align: center;
}

.data-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 55%;
    margin: 0em 5em;
    padding: 1em;
}

.data-text {
    font-size: 1rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    line-height: 1.75;
    overflow: auto;
    margin-right: 1em;
}

.hist-text {
    margin-bottom: 2em;
}

#totalAsteroids,
#asteroidName,
#asteroidDistance,
#asteroidDiameter,
#asteroidDate {
    font-weight: 900;
}

.data-graph {
    height: 100%;
    width: 60%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
        0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
        0 16px 16px rgba(0, 0, 0, 0.05);
}

/* EARTH Section */
#earth {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.earth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80vw;
}

.earth-title {
    font-size: 1.5rem;
    margin-bottom: 1em;
    text-align: center;
}

.earth-title h4 {
    font-size: 1rem;
    opacity: 0.4;
}

.satellite-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55%;
    margin: 0em 3em;
}

.satellite-details {
    height: 95%;
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.satellite-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 50%;
}

.image-details {
    width: 70%;
    height: 50%;
    text-align: left;
}

#latitude,
#longitude,
#image-date {
    font-weight: 900;
}

.image-details p {
    margin-bottom: 1em;
}

.search-bar {
    display: block;
    width: 70%;
    margin-top: 0.5em;
    padding: 0.5em;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #555555;
    font-size: 1.1rem;
}

.search-bar:focus {
    border-bottom: 2px solid #222222;
}

.satellite-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 50%;
    border-radius: 10px;
    background-color: #e8e8e8;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
        0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
        0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}

label {
    font-size: 1.4rem;
    font-weight: 700;
}
